<div class="left-nav">
    <div class="profile-links">
        <a v-bind:href="links.github" target="_blank">
            <font-awesome-icon :icon="['fab', 'github']" size="2x" color="white" /><span> GitHub</span>
        </a>
        <a v-bind:href="links.linkedIn" target="_blank">
            <font-awesome-icon :icon="['fab', 'linkedin']" size="2x" color="#007bff" /><span> LinkedIn</span>
        </a>
        <a v-bind:href="links.instagram" target="_blank">
            <font-awesome-icon :icon="['fab', 'instagram']" size="2x" color="red" /><span> Instagram</span>
        </a>
    </div>
</div>