#app {
  font-family: 'Kalam', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #fff;
}

body {
  background-color: #1D2231;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

.green {
  color: #65D183;
}

.green-box {
  background-color: #65D183;
  border-radius: 10px;
}

#nav a.router-link-exact-active {
  color: #65D183;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0.55rem 0.75rem 2px #1f2235;
  border-radius: 0.5rem;
  transition: transform 1s;
}

.prof-pic-outline {
  margin: 0 auto;
  border: 0.15rem solid;
  width: 85%;
  float: left;
  padding: 2rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 0.5rem;
}

.img-fluid:hover {
  transform: scale(1.1);
  box-shadow: none;
}