<div class="header">
    <div class="header-container">
        <div class="header-parent">
            <div class="header-hamburger"  
                v-on:click="showNavBar()">
                <font-awesome-icon icon="bars" size="2x" />
            </div>
                <div class="header-logo">
                    <router-link :to="{ name: 'Home'}">
                        <img src="../../assets//images/logo-4-3.png" v-bind:alt="logo"/>
                    </router-link>
                </div>
                <div class="header-options" 
                    v-on:click="hideNavBar()"
                    v-bind:class="{ 'show-hamburger-options': showSideNav }">
                    <div v-for="(link, index) in links" :key="link.name" 
                        class="header-option"
                        :class="addSeperatorClass(index)">
                        <a href="#" v-scroll-to="`#${link.id}`">
                            <span> .{{ link.name }}() </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
</div>