.about-section {
    position: relative;
    width: 85%;
    display: block;
    background-color: #181826;
    padding: 2rem;
    box-shadow: 0 0.75rem 0.75rem 2px #080818;
}

h2 {
    color: #65D183;
}

.text-content {
    text-align: left;
}

.text-content-1 {
    font-size: 1.25rem;
    line-height: 2rem;
    letter-spacing: .15rem;
    text-align: left;
}

.prof-pic-outline {
    float: none;
}

.about-content {
    align-items: center;
}

.green-overlay {
    position: absolute;
    border-radius: inherit;
    top: 0;
    bottom: 0;
    left: 5rem;
    right: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #65D183;
    margin-bottom: -7rem!important;
    width: 35vw;
    border-radius: 0.75rem;
    z-index: -1;
}

@media only screen and (max-width: 767px) {
    .about-section{
        margin: 0 auto;
    }
}