<div class="about-section">
    <h2>.about()</h2>
    <div class="under-line"></div>
    <div class="line-bulb"></div>
    <div class="about-content row">
        <div class="col-lg-6">
            <div class="prof-pic-outline">
                <img class="img-fluid" src="../../../assets//images/profile_pic_2.png" alt="Serlin Tamilselvam 2">
            </div>
        </div>
        <div class="col-lg-6 text-content">
            <div class="text-content-1">
                React makes it painless to create interactive UIs. Design simple views for each state in your application, and React will efficiently update and render just the right components when your data changes.
            </div>
            <div class="education-info">
                <div>
                    <font-awesome-icon :icon="['fas', 'user-graduate']" size="2x" color="#65D183" /><span>  Master of Science, Bishop's University, Canada</span>
                </div>
                <div>
                    <font-awesome-icon :icon="['fas', 'map-marker-alt']" size="2x" color="#65D183" /><span>  Quebec, Canada</span>
                </div>
            </div>
        </div>
    </div>
</div>