.skills {
    position: relative;
    width: 85%;
    display: block;
    background-color: #181826;
    padding: 2rem;
    box-shadow: 0 0.75rem 0.75rem 2px #080818;
    float: right;
    clear: both;
    margin-top: 10rem;
}

h2 {
    color: #65D183;
}

.resume-bullets {
    box-shadow: 0.25rem 0.25rem 0.25rem rgb(255 255 255 / 20%);
    height: 100%;
}

.bullet-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.bullet-icons {
    width: 34px;
    height: 100%;
    z-index: 1;
    background-color: #65D183;
    position: absolute;
}

.bullets {
    width: 86%;
    position: relative;
    z-index: 2;
}

.bullet {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #65D183;
    height: 40px;
    margin: 15px 0;
    padding: 0 8px;
    border-radius: 20px;
    width: 30px;
    transition: width .6s ease;
}

.bullet-label {
    font-size: 14px;
    white-space: nowrap;
}

.bullet svg {
    height: 16px;
    margin: 0 30px 0 0;
}

@media only screen and (max-width: 767px) {
    .skills {
        width: 95%;
        margin: 0 auto;
        margin-top: 5rem;
        float: none;
    }
}