<div :id="pageName" class="skills" v-observe-visibility="showSection">
    <div class="skills-child fade-in" 
        v-bind:class="{ 'fade-out': isDivisionShown }">
        <h2><{{pageName}} /></h2>
        <div class="under-line">
            <div class="single-line"></div>
            <div class="line-bulb">
                <div></div>
            </div>
        </div>
        <div class="about-content row">
            <div class="col-lg-3">
                <div class="resume-bullets">
                    <div class="bullet-container">
                        <div class="bullet-icons"></div>
                        <div class="bullets">
                            <div class="bullet" 
                                v-on:click="loadSkill(index)"
                                v-bind:class="{ 'selected-bullet': checkForIndex(index) }"
                                v-for="(bullet, index) in resumeBullets" :key="index">
                                <font-awesome-icon :icon="['fas', bullet.icon]" />
                                <span class="bullet-label"> {{bullet.label}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 skills-content">
                <div class="scroller-wrap" v-bind:style="scrollerSection.styleObject">
                    <div class="resume-section"
                        v-for="(bullet, index) in resumeBullets" :key="index">
                        <div class="resume-content" 
                            v-if="bullet.content.length > 0"
                            v-for="(content, key) in bullet.content" 
                            :key="key">
                            <div class="resume-heading">
                                <div class="heading-bullet"></div>
                                <span v-html="content.title"></span>
                                <div class="heading-date"
                                    v-if="content.date"
                                    v-html="content.date">
                                </div>
                            </div>
                            <div class="resume-sub-heading" v-if="content.subtitle">
                                <span v-html="content.subtitle"></span>
                            </div>
                            <div class="resume-description"
                                v-if="content.roles.length > 0"
                                v-for="(role, key) in content.roles" 
                                :key="key">
                                <span v-html="role"></span>
                            </div>
                        </div>
                        <div class="resume-content icons-section" v-if="bullet.languages && bullet.languages.length > 0">
                            <ul>
                                <li v-for="(language, key) in bullet.languages" 
                                :key="key">
                                    <font-awesome-icon size="3x" 
                                        :icon="[language.brand, language.icon]"/>
                                    <p>{{language.name}}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="green-overlay d-none d-lg-block"></div>
</div>