<div :id="pageName" class="skills" v-observe-visibility="showSection">
    <div class="skills-child fade-in" 
        v-bind:class="{ 'fade-out': isDivisionShown }">
        <h2>.{{pageName}}()</h2>
        <div class="under-line">
            <div class="single-line"></div>
            <div class="line-bulb">
                <div></div>
            </div>
        </div>
        <div class="about-content row">
            <div class="col-lg-3">
                <div class="resume-bullets">
                    <div class="bullet-container">
                        <div class="bullet-icons"></div>
                        <div class="bullets">
                            <div class="bullet" 
                                v-on:click="loadSkill(index)"
                                v-bind:class="{ 'selected-bullet': checkForIndex(index) }"
                                v-for="(bullet, index) in resumeBullets" :key="index">
                                <font-awesome-icon :icon="['fas', bullet.icon]" />
                                <span class="bullet-label"> {{bullet.label}} </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 skills-content">
                <div class="scroller-wrap" v-bind:style="scrollerSection.styleObject">
                    <div class="resume-section"
                        v-for="(bullet, index) in resumeBullets" :key="index">
                        {{bullet.label}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="green-overlay d-none d-lg-block"></div>
</div>