.skills {
    position: relative;
    width: 85%;
    display: block;
    background-color: #181826;
    float: right;
    clear: both;
    margin-top: 10rem;
}

.about-content {
    margin-top: 2rem;
}

.skills-child {
    padding: 2rem;
    box-shadow: 0 0.75rem 0.75rem 2px #080818;
}

h2 {
    color: #65D183;
}

.resume-bullets {
    box-shadow: 0.25rem 0.25rem 0.25rem rgb(255 255 255 / 20%);
    height: 100%;
}

.bullet-container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    position: relative;
}

.bullet-icons {
    width: 2.5rem;
    height: 100%;
    z-index: 1;
    background-color: #65D183;
    position: absolute;
}

.bullets {
    width: 86%;
    position: relative;
    z-index: 2;
}

.bullet {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #65D183;
    margin: 1.75rem 0;
    padding: 0 0.55rem;
    border-radius: 20px;
    transition: width .6s ease;
    height: 3rem;
    width: 2rem;
}

.selected-bullet {
    width: 100%;
}

.bullet-label {
    font-size: 1rem;
    white-space: nowrap;
}

.bullet svg {
    height: 1.25rem;
    margin: 0 1.25rem 0 0;
    font-size: 1.1rem;
}

.pgrm {
    margin: 0px 1.5rem 0px -0.25rem;
}

.scroller-wrap {
    transition: transform 1s ease-out;
}

.skills-content {
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 0.25rem rgb(255 255 255 / 20%);
    height: 420px;
}

.resume-section {
    justify-content: space-evenly;
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
}

.green-overlay {
    position: absolute;
    border-radius: inherit;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    left: 45%;
    right: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #65D183;
    margin-bottom: -7rem!important;
    width: 35vw;
    border-radius: 0.75rem;
    z-index: -1;
}

@media only screen and (max-width: 991px) {
    .scroller-wrap {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .skills {
        width: 95%;
        margin: 0 auto;
        margin-top: 5rem;
        float: none;
    }
}