<div class="skills">
    <h2>.{{pageName}}()</h2>
    <div class="under-line">
        <div class="single-line"></div>
        <div class="line-bulb">
            <div></div>
        </div>
    </div>
    <div class="about-content row">
        <div class="col-lg-3">
            <div class="resume-bullets">
                <div class="bullet-container">
                    <div class="bullet-icons"></div>
                    <div class="bullets">
                        <div class="bullet selected-bullet">
                            <font-awesome-icon :icon="['fas', 'user-graduate']" />
                                <span class="bullet-label">Education()</span>
                            </div><div class="bullet">
                                <font-awesome-icon :icon="['fas', 'history']" />
                                <span class="bullet-label">Work History()</span>
                            </div>
                            <div class="bullet">
                                <font-awesome-icon :icon="['fas', 'laptop']" />
                                <span class="bullet-label">Programming Skills()</span>
                            </div>
                            <div class="bullet">
                                <font-awesome-icon :icon="['fas', 'paperclip']" />
                                <span class="bullet-label">Projects()</span>
                            </div>
                            <div class="bullet">
                                <font-awesome-icon :icon="['fas', 'palette']" />
                                <span class="bullet-label">Interests()</span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-9">
        </div>
    </div>
</div>