.contact-form {
    position: relative;
    width: 85%;
    display: block;
    background-color: #181826;
    clear: both;
    margin-top: 10rem;
    float: left;
}

.contact-content {
    margin-top: 2rem;
}

.section-child {
    padding: 2rem;
    box-shadow: 0 0.75rem 0.75rem 2px #080818;
}

h2 {
    color: #65D183;
    text-transform: capitalize;
}

fieldset {
    margin-bottom: 2rem;
    margin-top: 1.25rem;
}

input::placeholder { 
    color: #fff;
    font-size: 1.15rem;
}

input::placeholder {
    color: #fff;
    font-size: 1.15rem;
}

input::-moz-placeholder {
    color: #fff;
    opacity: 1;
    font-size: 1.15rem;
}

textarea::-webkit-input-placeholder {
    color: #fff;
    font-size: 1.15rem;
}
  
textarea:-moz-placeholder { /* Firefox 18- */
    color: #fff;
    font-size: 1.15rem;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
    color: #fff; 
    font-size: 1.15rem;
}

textarea:-ms-input-placeholder {
    color: #fff;  
    font-size: 1.15rem;
}

textarea::placeholder {
    color: #fff;  
    font-size: 1.15rem;
}

.green-overlay {
    position: absolute;
    border-radius: inherit;
    top: 0;
    bottom: 0;
    left: 5rem;
    right: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #65D183;
    margin-bottom: -7rem!important;
    width: 35vw;
    border-radius: 0.75rem;
    z-index: -1;
}

.email-img {
    margin: 0 auto;
}

.card-text {
    width: 100%;
    margin: 0 auto;
    text-align: left;
    max-width: 300px;
}

.name-style {
    margin: 0;
    font-weight: bold;
    color: #65D183;
    font-size: 1.25rem;
}

.card {
    background-color: #181826;
    border: none;
}

.somespace-above {
    margin-top: 1rem;
}

.value-style {
    font-size: 1.25rem;
    color: #fff;
}

.error {
    color: red;
    text-align: right;
    font-size: 0.75rem;
}

@media only screen and (max-width: 767px) {
    .contact-form {
        width: 95%;
        margin: 0 auto;
        margin-top: 5rem;
        float: none;
    }

    .card-text {
        max-width: none;
    }

}