<div class="footer-wrapper">
    <div class="footer">
        <b-row>
            <b-col sm="12" md="6" order-md="2">
                <a v-for="(item, key) in socialMedia"
                    :title="item.icon"
                    :key="key"
                    rel="nofollow"
                    v-bind:href="item.link" target="_blank">
                    <font-awesome-icon :icon="['fab', item.icon]" size="2x" :color="item.color" />
                </a>
            </b-col>
            <b-col sm="12" md="6" order-md="1">
                <div class="credits">
                    Site designed with <span class="beating-heart">&#128154;</span> by Serlin
                </div>
            </b-col>
        </b-row>
        <p class="go-green">Go Green <span>&#127793;</span></p>
        <p class="copy-right">
            &copy; All rights reserved.
        </p>
    </div>
</div>