.home {
  position: relative;
  width: 85%;
  padding: 5rem 0;
  display: block;
  padding-top: 7rem!important;
  padding-bottom: 7rem!important;
  margin: 0 auto;
}

.left-align-text {
  text-align: left;
}

.color-wrap {
  margin: 0 auto;
  text-align: center;
  z-index: 0;
  right: 0 !important;
  left: 0;
  bottom: 0 !important;
  top: 0 !important;
  margin-left: 0;
  display: block!important;
  margin: 0 auto;
}

.color-wrap-inner {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  bottom: 0 !important;
  top: 0 !important;
}

.overlay-advanced {
  position: absolute;
  border-radius: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  user-select: none;
  background-color: #65D183;
  margin-bottom: -7rem!important;
  width: 35vw;
  border-radius: 0.75rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  left: 0;
  right: 0;
}

.no-gutters-child {
  padding-right: 0;
  padding-left: 0;
  position: absolute !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
  box-shadow: 0 0.55rem 0.75rem 2px #1f2235;
  border-radius: 0.5rem;
  transition: transform 1s;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-container-wrap {
  position: relative;
  z-index: 1;
}

h2, h3, h4 {
  padding: 0 0 2rem 0;
  line-height: 2rem;
  letter-spacing: .15rem;
  margin: 0;
}

.prof-pic-outline {
  margin: 0 auto;
  border: 0.15rem solid;
  width: 85%;
  float: left;
  padding: 2rem;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  border-radius: 0.5rem;
}

.img-fluid:hover {
  transform: scale(1.1);
  box-shadow: none;
}