<div class="home py-9 py-xl-12">
  <div class="color-wrap position-absolute top-0 bottom-0 left-0 right-0 mr-0 mx-lg-auto zindex-0 mt-12 d-none d-lg-block">
    <div class="row no-gutters position-absolute top-0 bottom-0 left-0 right-0">
      <div class="col-3 no-gutters-child offset-9 position-absolute top-0 bottom-0 left-0 right-0">
        <div class="overlay overlay-advanced mb-n9 mb-xl-n12 ml-4"></div>
      </div>
    </div>
  </div>
  <div class="align-self-center py-9 py-xl-12 text-container-wrap">
    <div class="row align-items-center flex-container">
      <div class="col-lg-5 text-white mb-8 mb-lg-0 left-align-text">
        <h2 class="title-text">
          Hi, I'm <span class="green">Serlin</span>
        </h2>
        <h3 class="sub-title-text">
          Full Stack developer!
        </h3>
        <h4 class="">
          Knack of building applications with front and back end operations.
        </h4>
      </div>
      <div class="col-lg-5 offset-lg-2">
        <img class="img-fluid d-block w-50 w-lg-100 rounded-3x shadow-light-lg mx-auto" src="../../assets/images/profile_pic.png" alt="">
      </div>
    </div>
  </div>
</div>