<div id="home" class="home">
  <div class="color-wrap position-absolute mx-lg-auto d-none d-lg-block">
    <div class="row no-gutters position-absolute top-0 bottom-0 left-0 right-0">
      <div class="col-3 no-gutters-child offset-7 position-absolute top-0 bottom-0 left-0 right-0">
        <div class="overlay-advanced d-none d-md-block"></div>
      </div>
    </div>
  </div>
<div class="align-self-center text-container-wrap">
  <b-row class="align-items-center flex-container">
    <b-col sm="12" lg="6" md="5" order="2" order-md="1" class="left-align-text">
      <h2 class="title-text">
        Hi, I'm <span class="green">Serlin</span>
      </h2>
      <h3 class="sub-title-text">
        Full Stack developer!
      </h3>
      <h4 class="">
        Knack of building applications with front and back end operations.
      </h4>
      <div class="text-center">
        <b-button target="_blank" 
          href="https://drive.google.com/file/d/1s7-eTwBpqhmV6aCVGQVu9dS6ZB9UikfS/view?usp=sharing" 
          class="common-btn" 
          variant="link">Download Resume
        </b-button>
      </div>
    </b-col>
    <b-col sm="12" lg="6" md="7" order="1" order-md="2">
      <div class="prof-pic-outline">
        <img class="img-fluid d-block w-lg-100 shadow-light-lg mx-auto" 
          src="../../assets/images/profile_pic.jpg" 
          alt="Serlin Tamilselvam">
      </div>
    </b-col>
  </b-row>
</div>
</div>