.home {
  position: relative;
  width: 85%;
  padding: 5rem 0;
  display: block;
  padding-top: 5rem;
  padding-bottom: 7rem;
  margin: 0 auto;
}

.left-align-text {
  text-align: left;
}

.color-wrap {
  margin: 0 auto;
  text-align: center;
  z-index: 0;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  margin-left: 0;
  display: block;
  margin: 0 auto;
}

.color-wrap-inner {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.overlay-advanced {
  position: absolute;
  border-radius: inherit;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-user-select: none;
  user-select: none;
  background-color: #65D183;
  margin-bottom: -7rem;
  width: 35vw;
  border-radius: 0.75rem;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  left: 0;
  right: 0;
}

.no-gutters-child {
  padding-right: 0;
  padding-left: 0;
  position: absolute;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.text-container-wrap {
  position: relative;
  z-index: 1;
}

.sub-title-text {
  font-size: calc(1.3rem + .6vw);
}

h2, h3, h4, .sub-title-text {
  padding: 0 0 2rem 0;
  line-height: 2rem;
  letter-spacing: .15rem;
  margin: 0;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }
  100% { transform: rotate( 0.0deg) }
}

.waving-hand {
  -webkit-animation-name: wave-animation;
  animation-name: wave-animation;
  -webkit-animation-duration: 2.1s;
  animation-duration: 2.1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

/* .watermark-img {
  background-image: url('../../assets/images/background_logo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
} */

@media only screen and (max-width: 767px) {
  .home {
    width: 90%;
    padding: 0;
    margin-top: 2rem;
  }
  .left-align-text {
    margin-top: 4rem;
  }
}